<% provide(:head_title, "Utilisateurs") %>
<h1>Listes des utilisateurs</h1>

<%= render 'layouts/flash' %>         

<%= will_paginate %>

<ul class="users">
	<%= render @users %>
</ul>

<%= will_paginate %>

