<% provide(:head_title, "Utilisateurs") %>

<section class="row">
  <div class="sec_header col-md-12">
    <h2>Listes des utilisateurs</h2>
  </div>
  <%= render 'layouts/flash' %>
  <div class="sec_content col-md-12">
    <%= will_paginate %>
      <ul class="users">
        <%= render @users %>
      </ul>
    <%= will_paginate %>
  </div>
</section>