<% provide(:head_title, "Modification actionneur #{@actuator.name}") %>
<h1>Mettre à jour de l'actionneur</h1>

<%= form_for(@actuator) do |f| %>
	<%= render 'fields', f: f %>
	<%= f.submit "Enregistrer", class: "btn btn-large btn-primary" %>
<% end %>
