<% provide(:head_title, 'Nouvel actionneur') %>
<h1>Ajouter un nouvel actionneur</h1>

<%= form_for(@actuator) do |f| %>
	<%= render 'fields', f: f %>
	<%= f.submit "Ajouter un nouveau capteur", class: "btn btn-large btn-primary" %>
<% end %>
