$("#content .row .sec_content").load( "list #content .row .sec_content .row", function( response, status, xhr ) {
  $(this).prepend("<div class=\"alert alert-info alert-dismissable\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Suppression du capteur réalisée avec succès.</div>"); 
});