<% content_for :head_title do %>
  Capteur
<% end %>

<section class="row">
  <div class="sec_header col-md-12">
    <h2>Modifier un capteur</h2>
  </div>
  <div class="sec_content col-md-12">
    <div class="row">
      <div class="col-md-6">
        <%= render 'form' %>
        
        <%= link_to 'Show', @sensor %> |
        <%= link_to 'Back', sensors_list_path %>
      </div>
    </div>
  </div>
</section>
