<% content_for :head_css_includes do %>
    <%= stylesheet_link_tag "sensors", media: "all", "data-turbolinks-track" => true %>
<% end %>

<% content_for :head_js_includes do %>
    <%= javascript_include_tag "sensors", "data-turbolinks-track" => true %>
<% end %>

<% content_for :head_title do %>
  Capteurs
<% end %>



<section class="row">
  <div class="sec_header col-md-12 row">
    <h2 class="col-md-7">Relev&eacute de temp&eacuterature</h2>
    <div class="col-md-5" style="padding-right: 45px;">
      <div id="reportrange" class="2pull-right">
        <i class="glyphicon glyphicon-calendar"></i>
        <span></span>
        <b class="caret"></b>
      </div>
    </div>
  </div>
  <div class="sec_content col-md-12">
    <div class="row">
      <div id="temp_chart" class="col-md-8"></div>
      <div class="col-md-4">
        <select class="multiselect" multiple="multiple">
          <option value="1">Capteur 1</option>
          <option value="2">Capteur 2</option>
          <option value="3">Capteur 3</option>
        </select>
        <select name="points_frequency">
        <option selected="selected" value="none">None</option>
        <option value="month">Month</option>
        <option value="day">Day</option>
        <option value="hour">Hour</option>
        <option value="minute">Minute</option>
      </select>
      </div>
    </div>
  </div>
</section>

<!--  -->
