$("#bootstrap_modal .modal-body")
  .html("<%= escape_javascript(render(:partial => "new"))%>")


$("#new_sensor").on("ajax:success", function(e, data, status, xhr) {
    $("#content .row .sec_content").load( "list #content .row .sec_content .row", function( response, status, xhr ) {
      $(this).prepend("<div class=\"alert alert-success alert-dismissable\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Ajout du capteur réalisé avec succès.</div>"); 
    });
    $('#bootstrap_modal').modal('hide');
  }).bind("ajax:error", function(e, xhr, status, error) {
    $("#modal-body .row .sec_content")
      .prepend("<div class=\"alert alert-danger alert-dismissable\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Something wrong happend during the update.</div>"); 
});