<% content_for :head_title do %>
  Capteur
<% end %>

<section class="row">
  <div class="sec_header col-md-12">
    <h2>Ajouter un nouveau capteur</h2>
  </div>
  <%= render 'layouts/flash' %>
  <div class="sec_content col-md-12">
    <div class="row">
      <div class="col-md-6">
        <%= render 'form' %>
      </div>
      <div class="col-md-6">
        On this page you can add a new sensor in order to use it with your ecobox. To process, fill this form and click the "Create Sensor" button then...
      </div>
    </div>
    <%= link_to 'Back', sensors_list_path %>
  </div>
</section>
