@media (max-width: 992px) {
    a {
        font-size: 10pt;
    }
    .right_arrow {
        top: 25px;
    }
    .active a{
        position: absolute;
        left: 0;
    }
    header {
        height: 50px;
    }
    h1{
        font-size: 30pt;
        line-height: 50px;
        margin-top: 8px;
    }
    h3{
        font-size: 20pt;
    }
    #head_title{
        padding-top: 0px;
        height: 50px;
    }
    nav{
        text-align: center;
        padding-top: 4px;
        padding-left: 0px;
        min-height: 320px;  /*logo_min_height-(header_height+footer_height)*/
    }
    nav ul li{
    	height: 80px;
        padding-top: 6px;
    }
    .li-title {
        margin-top: 3px;
    }
    #content{
        min-height: 320px;  /*logo_min_height-(header_height+footer_height)*/
    }
    footer{
    	height: 30px;
      width: 83.3333333333% !important;
      padding-left: 15px !important;
      padding-right: 15px !important;
      margin: 0 !important;
    }
}
@media (max-width: 767px){
    #foreground{
        left: -160px;
    }
    nav{
        width: 150px !important;
    }
    #logo {
        background-color: #81d869;
    }
    #right_header{
        float: left;
        width: 150px;
        padding-right: 0px;
        font-family: 'helvetica_neueultralight';
        font-size: 11pt;
        color: #e3e4e4;
    }
    #logout {
        width: auto;
        right: 32px;
        top: 29px;
        border-left: none;
        z-index: 10;
    }
    #logout-icon {
        font-size: 12pt;
        top: 2px;
        left: 0;
    }
    #logout-text{
        position: relative;
        top: -13px;
        left: 5px;
    }
    #user-icon-circle {
        width: 36px;
        height: 36px;
        top: 50%;
        margin-top: -18px;
        margin-left: 20px;
        border-radius: 18px;
    }
    #user-icon {
        font-size: 25pt;
        top: -14px;
        left: 1px;
    }
    #username {
        position: relative;
        left: 62px;
        font-size: 12pt;
        top: 10px;
        color: #b5e5a7;
    }
    #user_settings {
        height: inherit;
        position: relative;
        width: 150px;
        float: right;
        margin-top: -50px;
    }
    .bg-color{
        background-color: #595858;
    }
    #menu-switch {
        position: absolute;
        color: #e3e4e4;
        left: 40px;
        font-size: 20pt;
        cursor: pointer;
    }
    h3 {
        font-size: 26pt;
    }
    .left-offset{
        left:0px !important;
    }
    .main-offset{
        left:150px !important;
    }
    footer{
      width: 100% !important;
      height: 30px;
      padding-left: 15px !important;
      padding-right: 15px !important;
      margin: 0 !important;
    }

}

@media (max-width: 767px){
    .visible-xs{
        display: block;
    }
    .visible-sm, .visible-md, .visible-lg{
        display: none;
    }
}
@media (min-width: 768px){
    .visible-sm{
        display: block;
    }
    .visible-xs, .visible-md, .visible-lg{
        display: none;
    }
}
@media (min-width: 992px){
    .visible-md{
        display: block;
    }
    .visible-xs, .visible-sm, .visible-lg{
        display: none;
    }
}
@media (min-width: 1200px){
    .visible-lg{
        display: block;
    }
    .visible-xs, .visible-sm, .visible-md{
        display: none;
    }
}